<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ info_evento[1]["nombre"] }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>
<body>
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mb.YTPlayer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  {% block body %} {% endblock %}

  <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>¡Contactanos!</h3>
              <ul class="list-unstyled links">
                <li><a href="//x.com/EventoCiclismoMTB">{{ info_evento[2]["redes_sociales"][0] }}</a></li>
                <li><a href="//facebook.com/EventoCiclismoMTB">{{ info_evento[2]["redes_sociales"][1] }}</a></li>
                <li><a href="//instagram.com/EventoCiclismoMTB">{{ info_evento[2]["redes_sociales"][2] }}</a></li>
                <li><a href="mailto:eventociclismoMTB@gmail.com">{{ info_evento[2]["redes_sociales"][3] }}</a></li>
                <li><a href="//wa.me/+5491157614140">{{ info_evento[2]["redes_sociales"][4] }}</a></li>
              </ul>
            </div>
          </div>

        </div>

        </div>
      </div>
  </footer>
</body>
</html>